<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creaTuCuenta</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/0a62d69e3c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="main-header-laptop">
        <div class="main-header-top-bar">
    
        <img id="imagenML" src="/images/logo-mercado-liebre.svg" alt="">
        
        
        <div class="searchbar"><input type="text" placeholder="Buscar" class="input-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
    
        </div>
        
        
        <h4 class="compra"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h4>
        </div>
    
        <nav class="ocultarNavBar">
        <ul>
            <li><a href="#" target="_blank">Ofertas</a></li>
            <li><a href="#" target="_blank">Tiendas Oficiales</a></li>
            <li><a href="#" target="_blank">Vender</a></li>
            <li><a href="#" target="_blank">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="http://localhost:3000/creaTuCuenta" target="_blank">Creá tu cuenta</a><i class="fa-solid fa-address-card"></i></li>
            <li><a href="http://localhost:3000/ingresa" target="_blank">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href="#" target="_blank">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
        </nav>
    
    
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    
    
    
        <img class="separador" src="/images/img-home-banner.jpg" alt="">
    </header>
<main>
    <form action="/" method="post" class="formulario">Registro de Usuario
        <div class="formulariodiv">
            <label for="nya">Nombre y Apellido:</label>
            <input type="text" id="nya" name="nombre" placeholder="Ej: Pablo Cadena" class="inputcontrol" minlength="4">
            <span class="feedback">El nombre ingresado es incorrecto, utilice el ejemplo como guía</span>
        </div>
        <div class="formulariodiv">
            <label for="usuario">Nombre de Usuario:</label>
            <input type="text" id="usuario" name="usuario" class="inputcontrol">
        </div>
        <div class="formulariodiv">
            <label for="fechaNac">Fecha de Nacimiento:</label>
            <input type="date" id="fechaNac" name="nacimiento" class="inputcontrol">
        </div>
        <div class="formulariodiv">
            <label for="domicilio">Domicilio:</label>
            <input type="text" id="domicilio" name="domicilio" class="inputcontrol">
        </div>
        <div class="formulariodiv">
            <label>¿Desea comprar o vender?:</label>
            <span><input type="radio" name="perfilUsuario" value="Comprar">      Comprar</span>
            <span><input type="radio" name="perfilUsuario" value="Vender">      Vender</span>
        </div>
        <div class="formulariodiv">
            <label>Intereses:</label>
            <div><label class="interes"><input type="checkbox" name="interes" value="electro">      Electro </label></div>
            <div><label class="interes"><input type="checkbox" name="interes" value="moda">     Moda </label> </div>
            <div><label class="interes"><input type="checkbox" name="interes" value="hogar">        Hogar </label> </div>
            <div><label class="interes"><input type="checkbox" name="interes" value="jugueteria">       Juguetería </label></div>
            <div><label class="interes"><input type="checkbox" name="interes" value="vidaSana">     Vida Sana </label></div>
        </div>
        <div class="formulariodiv">
            <label>Adjuntar foto de perfil:</label>
            <input type="file" name="fotoPerfil" accept=".jpg, .png" >
            <span class="feedback">El formato del archivo es incorrecto, debe ser ".jpg" o ".png"</span>
        </div>
        <div class="formulariodiv">
            <label for="pass">Contraseña:</label>
            <input type="password" id="pass" name="contraseña" class="inputcontrol">
        </div>
        <div class="formulariodiv">
            <label for="cpass">Confirmar Contraseña:</label>
            <input type="password" id="cpass" name="ccontraseña" class="inputcontrol">
        </div>
    
    
        <button type="reset" class="buttonform">Borrar</button>
        <button type="submit" class="buttonform">Enviar</button>
        
    </form>

</main>
    <footer>
        <div class="flexFooter">
        <div class="footer">
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="footer">
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="footer">
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </div>
    </div>
        <div>
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </div>
    </footer>
</body>
</html>